/* Public server thing, new, always visible BS. */
.footer_91816 {
display: none;
}
/* Hide Nitro gift button, language dependent*/
button[aria-label="Send a gift"] {
    display: none;
}
button[aria-label="Ein Geschenk senden"] {
    display: none;
}

/*  gif selector  */
button[aria-label="GIF-Auswahl öffnen"] {
    display: none;
}
button[aria-label="Open GIF picker"] {
    display: none;
}

/*  sticker, translate, applauncher  */
button[aria-label="Open sticker picker"] {
    display: none;
}
button[aria-label="Stickerauswahl öffnen"] {
    display: none;
}
button[aria-label="Stickerauswahl öffnen"] {
    display: none;
}
[class*="channelAppLauncher_"] {
  display: none !important;
}
